@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

body{
    margin:0;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    

}



header{
    height:680px;
    margin-bottom:20px;
    margin:0 auto;
}

#head{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:10px;
    max-width:1380px;
    min-width: 800px;
    text-align: center;
}

#head p{
    margin:2px 40px;
    font-weight: 500;
    vertical-align: middle;
    align-self: center;
}
#head img{
    vertical-align: middle;
    align-self: center;
    height:60px;
}

.header-div{
    padding:6%;
    color:white;
    font-size: 28px;
    text-align: center;
}
.header-div h1{

    color:white;
}

.header-button{
    text-align: center;
    
    
}

header form{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
button[id="hd-btn1"]{
    width:320px;
    height:60px;
    text-align:center;
    cursor:pointer;
    color:white;
    font-size:18px;
    border-radius:30px;
    border:1px solid rgb(25, 25, 90);
    background-color: rgb(11, 38, 105);
}
button[id="hd-btn2"]{
    width:320px;
    height:60px;
    text-align:center;
    cursor:pointer;
    color:white;
    font-size:18px;
    border-radius:30px;
    border:1px solid rgb(25, 25, 90);
    background-color: rgb(11, 38, 105);
}




/* Здесь начинается слайдер */



#slider { /*положение слайдера*/
    position: relative;
    top: 0;
    max-width:1380px;
    min-width: 800px;
}

#slider{ /*центровка слайдера*/
    margin: 0 auto;
    
}

input[type="radio"]{
	margin:0;
}


#slides article{ /*все изображения справа друг от доруга*/
	width: 50%;
    float: left;
    
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 200%;

    
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

.image article{ /*размер изображений слайдера*/
	width: 100%;
	height:600px;
	background-repeat: no-repeat;
}
#image-1{
	background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url('6tilda.jpg');
	background-size: cover;
}
#image-2{
	background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url('6tilda.jpg');
	background-size: cover;
}


#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 100%; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch2:checked ~ #controls label:nth-child(1){
	background: url('prev.svg') no-repeat; /*заливка фона картинкой без повторений*/
	position:relative;
	float: left;
	top:-25%;
	/*margin: -10vh 0 0 8px; /*сдвиг влево*/
	display: block;
	height: 10vh;
	width: 10vh;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2){
	background: url('next.svg') no-repeat; /*заливка фона картинкой без повторений*/
	position:relative;
	float: right;
	top:-25%;
	/*margin: -10vh 8px 0 0; /*сдвиг вправо*/
	display: block;
	height: 10vh;
	width: 10vh;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}
#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}


#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 6s ease-out;
}
/* Здесь заканчивается слайдер */






main{
    margin:0 auto;
    color: rgb(23, 38, 77);
    background-color: #f5f7f6;
    background-image: linear-gradient(#f5f7f6 0%, #5ca0f2 80%, #395e8b 130%) ;
}

/*section{
    border-top: 1px solid rgb(23, 42, 92);
    padding:30px 0;
}*/

h1{
    margin:0;
    padding:60px 0;
    font-size: 46px;
    font-weight: 500;
    font-family: Roboto;
    
    color: rgb(27, 53, 87);
    color: rgb(23, 42, 92);
}
h3{
    font-size: 28px;
    font-weight: 500;
    font-family: Roboto;
    color: rgb(23, 42, 92);
}
p a{
    font-weight: 500;
}
section{
    margin:0 auto;
    padding-top: 40px;
    /*border-bottom:1px solid grey;*/
}

.intro{
    width:60%;
    
    font-weight: 300;
    font-size:28px;
}

.list{
    display:flex;
    width:100%;
    max-width:1380px;
    min-width: 800px;
}
.list ul{
    width:100%;
    padding: 0;
}
.list li{
    width:20%;
    float:left;
    text-align: center;
    list-style: none;
    padding:2.5%;
}

.list img{
    width:160px;
    height:160px;
    margin:0 auto;
    border: 2px solid rgb(23, 42, 92);
    border-radius: 80px;
}

.magazine{
    padding-top: 20px;
    margin:0 auto;
    text-align: center;
    max-width:1380px;
    min-width: 800px;
}

.magazine-div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:10px;
    max-width:1380px;
    min-width: 800px;
}
.camera-div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding:10px;
    max-width:1380px;
    min-width: 800px;
    font-size: 28px;
}

.camera-div img{
    border: 2px solid rgb(23, 42, 92);
    border-radius: 100px;
}
.camera-div1{
    justify-content: center;
    align-items: center;
    align-self: center;

}
#camera-div2{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.camera-div2{
    padding:30px 20px;
    width: 100%;
}

 .magazine-div div{
    padding:10px;
    width: 50%;
}



.magazine-div img{
    max-width: 76%;
}
.magazine-div ul{
    list-style: none;
    padding: 0;
}
.magazine-div li{
    display:flex;
    border-bottom: 2px solid rgb(27, 53, 87);
}
.magazine-div p{
    flex-basis: 60%;
}

.magazine-div .price{
    text-align: end;
}
.magazine-div .categories{
    text-align:left;
}

.profiles{
    padding-top: 20px;
    margin:0 auto;
    text-align: center;
    font-size: 22px;
    width:100%;
    max-width:1380px;
    min-width: 800px;
}

.profiles-div{
    display:flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    margin: 0 auto;
    margin-bottom:90px;
}
.profiles-div img{
    border: 2px solid rgb(23, 42, 92);
    border-radius: 80px;
}


.profiles-div1{
    padding:0 1%;
    font-size: 20px;
    
}
.images{
    display: flex;
    align-items: center; 
    padding:20px 10px;
    
}
.profiles-div ul{
    list-style: none;
    padding:0;
    padding-left: 10%;
    align-items: center;
}

.profiles-div li{
    display:flex;
    padding:5px 0;
    font-size: 28px;
    align-self: center;
    align-items: center;
}

.profiles-p{
    font-size: 30px;
    padding: 10px 40px;
    
    
}
.profiles-border{
    border-bottom:1px solid grey;
}





.installation-div{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding:10%;
    margin: 0 auto;
    margin-bottom:90px;
    
}
.order{
    padding-top: 20px;
    margin:0 auto;
    text-align: center;
    max-width:1380px;
    min-width: 800px;
}
.order-div{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.order-bottoms{
    margin-bottom: 40px;
    padding-bottom: 40px;
    width:80vw;
}
/*.order-div div{
    flex-basis: 25vw;
}*/
.order-div #div1{
    height:300px;
    width:380px;
    background-image: url("1tilda.jpg");
    background-size: cover;
    margin: 5px;
    
}
.order-div #div2{
    height:300px;
    width:380px;
    background-image: url("2tilda.jpg");
    background-size: cover;
    margin: 5px;
}
.order-div #div3{
    height:300px;
    width:380px;
    background-image: url("3tilda.jpg");
    background-size: cover;
    margin: 5px;
}
.order-div #div4{
    height:300px;
    width:380px;
    background-image: url("4tilda.jpg");
    background-size: cover;
    margin: 5px;
}
.order-div #div5{
    height:300px;
    width:380px;
    background-image: url("5tilda.jpg");
    background-size: cover;
    margin: 5px;
}
.order-div #div6{
    height:300px;
    width:380px;
    background-image: url("6tilda.jpg");
    background-size: cover;
    margin: 5px;
}

.section-form{
    margin:0 auto;
    padding:20px 10%;
    text-align: center;
}
#ajax-contact-form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.range-div{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.radio-contact{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
}

.form-group{
    padding:10px 5px;
    margin:0;
    
}

input[type="text"], input[type="tel"]{
    font-size:18px;
    width:800px;
    height:50px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
    border:1px solid rgb(143, 143, 143);
    background-color: rgb(238, 238, 238);
}


textarea[id="projectFF"]{
    font-size:20px;
    width:800px;
    height:120px;
    padding-top:8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
    border:1px solid rgb(143, 143, 143);
    background-color: rgb(238, 238, 238);
}

button[id="submitFF"]{
    text-align:center;
    cursor:pointer;
    color:white;
    font-size:18px;
    width:160px;
    height:50px;
    border-radius:25px;
    border:0;
    background-color: rgb(23, 42, 92);
}


footer{
    background-color: #395e8b;
    color:white;
    margin:0 auto;
    text-align: center;
    height:100%;
    padding: 40px 0;
    border-top: 1px solid rgb(23, 42, 92);
}
footer p{
    padding-top:40px;
    margin:0;
    color:white;
}
footer ul{
    text-align: start;
    padding-left:10vw;
    list-style: none;
    padding-bottom:20px;
    margin:0;
}
footer li{
    padding:2px 0; 
}
footer a{
    color:white;
}



@media screen and (max-width: 430px){
    body{
        margin:0;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
    
    }
}

@media screen and (max-width: 430px){
    header{
    height:400px;
    max-width:414px;
    min-width:350px;
    margin-bottom:60px;
    margin:0 auto;
}}
@media screen and (max-width: 430px){
    #head{
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding:10px 0;
        max-width:430px;
        min-width:350px;
    }
    #head p{
        margin:1px 4px;
        font-weight: 300;
        font-size:16px;
    }
    #head img{
        width:150px;
        height:30px;
    }
    
}
@media screen and (max-width:430px){
    .header-div{
        padding:4px;
        color:white;
        font-size: 16px;
    }
    .header-div h1{
        color:white;
        
    }
    
    /*.header-button{
        display:flex;
        flex-direction: row;
        align-self: center;
        vertical-align: middle;
        
    }*/
    button[id="hd-btn1"]{
        width:240px;
        height:50px;
        text-align:center;
        cursor:pointer;
        color:white;
        font-size:18px;
        border-radius:25px;
        border:1px solid rgb(25, 25, 90);
    }
    button[id="hd-btn2"]{
        width:240px;
        height:50px;
        text-align:center;
        cursor:pointer;
        color:white;
        font-size:18px;
        border-radius:30px;
        border:1px solid rgb(25, 25, 90);
    }
}
@media screen and (max-width:430px){
    main{
        margin:0 auto;
        width:100%;
        margin-top:20px;
    }
    h1{
        margin:30px 0;
        font-size: 24px;
        font-weight: 500;
        font-family: Roboto;
    }
    h3{
        font-size: 20px;
        font-weight: 500;
        font-family: Roboto;
    }
}
@media screen and (max-width:430px){
    .image article{ /*размер изображений слайдера*/
        width: 100%;
        height:412px;
        background-repeat: no-repeat;
    }
    #slider { /*положение слайдера*/
        position: relative;
        top: 0;
        max-width:410px;
        min-width: 350px;
    }

    #desktop:checked ~ #slider{ /*размер всего слайдера*/
        max-width: 100%; /*максимальнная длинна*/
    }

    /*настройка переключения и положения для левой стрелки*/
    /*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
    #switch2:checked ~ #controls label:nth-child(1){
        background: url('prev.svg') no-repeat; /*заливка фона картинкой без повторений*/
        position:relative;
        float: left;
        /*margin: -10vh 0 0 8px; /*сдвиг влево*/
        display: block;
        height: 7vh;
        width: 7vh;
    }

    /*настройка переключения и положения для правой стрелки*/
    #switch1:checked ~ #controls label:nth-child(2){
        background: url('next.svg') no-repeat; /*заливка фона картинкой без повторений*/
        position:relative;
        float: right;
        /*margin: -10vh 8px 0 0; /*сдвиг вправо*/
        display: block;
        height: 7vh;
        width: 7vh;
    }

    #controls{ /*положение блока всех управляющих элементов*/
        margin: -30% 0 0 0;
        width: 100%;
        height: 50px;
    }

}
@media screen and (max-width:430px){
        
    .intro{
        width:90%;
        font-size:22px;
    }

    .list{
        display:flex;
        width:100%;
        max-width:430;
        min-width: 350px;
        
    }
    .list ul{
        width:100%;
        padding: 0;
        margin:0 auto;
    }
    .list li{
        width:48%;
        float:left;
        text-align: center;
        list-style: none;
        padding:2px;
    }

    .list img{
        width:100px;
        height:80px;
        margin:0 auto;
    }
    .list h3{
        font-size:16px;
        margin: 2px 0;
    }

}
@media screen and (max-width:430px){
    .magazine{
        padding-top: 20px;
        margin:0 auto;
        text-align: center;
        max-width:430px;
        min-width: 350px;
    }
    
    .magazine-div{
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding:10px;
        max-width:410px;
        min-width: 330px;
    }
    
    .camera-div{
        font-size: 20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding:4px;
        max-width:430px;
        min-width: 350px;
    }
    .camera-div1{
        padding:0;
        width: 100%;
    }
    .camera-div2{
        
        
        width: 90%;
    }





    .camera-div img{
        border: 2px solid rgb(23, 42, 92);
        border-radius: 100px;
    }
    .camera-div1{
        width: 100%;
        
    
    }
    #camera-div2{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    
     .magazine-div div{
        padding:1px;
        width: 100%;
    }
    
    .magazine-div p{
        flex-basis: 80%;
    }
    
}
@media screen and (max-width:430px){
    
    .profiles{
        padding-top: 20px;
        margin:0 auto;
        text-align: center;
        font-size: 16px;
        width:100%;
        max-width:430px;
        min-width: 350px;
    }

    .profiles-div{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        margin: 0 auto;
        margin-bottom:90px;
    }
    .profiles-div img{
        height:80px;
    }

    .images{
        display: flex;
        align-items: center; 
        padding:2px 2px;
        
    }
    .images img{
        height:180px;
    }
    .profiles-div ul{
        list-style: none;
        padding:0;
        padding-left: 2px;
        align-items: center;
    }

    .profiles-div li{
        display:flex;
        padding: 5px;
    }
    .profiles-p{
        font-size: 18px;
    }
    .profiles-border{
        border-bottom:1px solid grey;
    }


}

@media screen and (max-width:430px){
    .installation-div{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding:10px;
        margin: 0 auto;
        margin-bottom:90px;
        
    }
    .installation-div h3{
        padding-left: 20px;
    }
    .installation-div img{
        height:340px;
    }
}
@media screen and (max-width:430px){ 
    .order{
        padding-top: 20px;
        margin:0 auto;
        text-align: center;
        max-width:430px;
        min-width: 350px;
        
    }
    .order-container{
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    .order-div{
        display:flex;
        flex-direction: column;
        justify-content: center;
        width:50%;
    }
    .order-bottoms{
        margin-bottom: 40px;
        padding-bottom: 40px;
    }
    .order-div #div1{
        height:150px;
        width:160px;
        background-image: url("1tilda.jpg");
        background-size: cover;
        margin: 5px;
    }
    .order-div #div2{
        height:150px;
        width:160px;
        background-image: url("2tilda.jpg");
        background-size: cover;
        margin: 5px;
    }
    .order-div #div3{
        height:150px;
        width:160px;
        background-image: url("3tilda.jpg");
        background-size: cover;
        margin: 5px;
    }
    .order-div #div4{
        height:150px;
        width:160px;
        background-image: url("4tilda.jpg");
        background-size: cover;
        margin: 5px;
    }
    .order-div #div5{
        height:150px;
        width:160px;
        background-image: url("5tilda.jpg");
        background-size: cover;
        margin: 5px;
    }
    .order-div #div6{
        height:150px;
        width:160px;
        background-image: url("6tilda.jpg");
        background-size: cover;
        margin: 5px;
    }
}

@media screen and (max-width:430px){
    
    .section-form{
        margin:0 auto;
        padding:20px 5px;
        text-align: center;
    }
    #ajax-contact-form{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .range-div{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .radio-contact{
        display:flex;
        flex-direction: column;
        justify-content:flex-start;
    }

    .form-group{
        margin:10px 5px;
        
    }

    input[type="text"], input[type="tel"]{
        font-size:18px;
        width:300px;
        height:50px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 10px;
        border:1px solid rgb(143, 143, 143);
        background-color: rgb(238, 238, 238);
    }


    textarea[id="projectFF"]{
        font-size:20px;
        width:300px;
        height:120px;
        padding-top:8px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 10px;
        border:1px solid rgb(143, 143, 143);
        background-color: rgb(238, 238, 238);
    }

    button[id="submitFF"]{
        text-align:center;
        cursor:pointer;
        color:white;
        font-size:18px;
        width:160px;
        height:50px;
        border-radius:25px;
        border:0;
    }
}